<section class="page-header">
	<h1>Recent Instruction Sessions</h1>
</section>
<section class="page-body">
	<% @recent_instruction_sessions.each do | session | %>
	<article>
		<a href="<%= instruction_session_path( session.id ) %>"><h2><%= session.title %></h2></a>
	</article>
	<% end %>
</section>
