<h2><%= @student.name %></h2>
<% if @student.cohort %>
<%= link_to( @student.cohort.name, cohort_path( @student.cohort ) ) %>
<% else %>
<p>Whoops, looks like this student isn't part of a cohort?</p>
<% end %>

<% if @student.attendance_records.length %>
	<ul>
	<% @student.attendance_records.each do | record | %>
		<li><%= record.instruction_session.title %></li>
	<% end %>
	</ul>
<% else %>
	<p>Whoops, looks like <%= @student.name %> hasn't attended any instruction sessions.</p>
<% end %>