// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$nav: '.nav';


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
/**
 * ...
 */
#{$nav} {
	width: 100%;
	height: 60px;
	display: block;
	background-color: #FFF;
	box-shadow: 0 rem(-10) rem(20) rem(10) rgba(0,0,0,0.1);
}


/**
 * ...
 */
#{$nav}__inner {
	@include size(100%);

	display: block;
	margin: 0 auto;
	padding: 0px 16px;
}


/**
 * ...
 */
.logo-wrap {
	@include size(160px 100%);

	max-width: 20%;
	display: block;
	background-color: $color-placeholder; /// TEMP
	float: left;
}


/**
 * ...
 */
.nav-links-wrap {
	@include size(auto 100%);

	max-width: 75%;
	display: block;
	background-color: $color-placeholder; /// TEMP
	margin: 0;
	padding: 0;
	float: right;
}


/**
 *
 */
.nav-cta {
	@include size(50px 100%);

	display: block;
	background: $color-placeholder; /// TEMP
	position: relative;
	float: left;

	&:not(:last-child) {
		margin-right: 20px;
	}
}


/**
 * ...
 */
.nav-dropdown {
	@include size(300% auto);
	@include position(absolute, 100% null null 50%);
	@include transform(translateX(-50%));

	max-height: 0px;
	display: none;
	background-color: #FFF;
	box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.2);
	padding: 0;
	margin: 0;
	list-style: none;

	*:hover > & {
		max-height: 1000px;
		display: block;
	}
}


/**
 * ...
 */
.nav-dropdown__item {
	@include size(100% auto);

	display: block;

	&:not(:last-child) {
		border-bottom: 1px solid #EFEFEF;
	}

	&:hover {
		background-color: #FAFAFA;
	}

	a {
		width: 100%;
		height: auto;
		display: block;
		padding: 0 1rem; /// TEMP
		line-height: 40px; /// TEMP
		text-align: center;
	}
}


/**
 * ...
 */
.nav-toggle {
	@include size(70% 3px);

	display: block;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	&:before,
	&::before,
	&:after,
	&::after {
		@include size(100%);

		content: '';
		display: block;
		background-color: #000;

		position: absolute;
		left: 0;
	}

	&:before,
	&::before {
		top: -300%;
	}

	&:after,
	&::after {
		bottom: -300%;
	}
}