// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$nav: '.nav';


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
/**
 * ...
 */
#{$nav} {
	width: 100%;
	height: 60px;
	display: block;
	background-color: #FFF;
}


/**
 * ...
 */
#{$nav}__inner {
	@include size(100%);

	display: block;
	margin: 0 auto;
	padding: 6px 15px;
}


/**
 * ...
 */
.logo-wrap {
	@include size(160px, 100%);

	max-width: 20%;
	display: block;
	background-color: $color-placeholder; /// TEMP
	float: left;
}


/**
 * ...
 */
.nav-links-wrap {
	@include size(auto, 100%);

	max-width: 75%;
	display: block;
	background-color: $color-placeholder; /// TEMP
	margin: 0;
	padding: 0;
	float: right;
}


/**
 *
 */
.nav-cta {
	@include size(50px, 100%);

	display: block;
	background: $color-placeholder; /// TEMP
	position: relative;
	float: left;

	&:not(:last-child) {
		margin-right: 20px;
	}
}


/**
 * ...
 */
.nav-toggle {
	@include size(70%, 3px);

	display: block;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	&:before,
	&::before,
	&:after,
	&::after {
		@include size(100%);

		content: '';
		display: block;
		background-color: #000;

		position: absolute;
		left: 0;
	}

	&:before,
	&::before {
		top: -300%;
	}

	&:after,
	&::after {
		bottom: -300%;
	}
}