<!DOCTYPE html>
<html>
<head>
  <title>Haaku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav">
		<div class="nav__inner">
			<div class="logo-wrap"></div>
			<ul class="nav-links-wrap"></ul>
		</div>
	</nav>
	<main class="container">
		<%= yield %>
	</main>
</body>
</html>
